.btn{
    color: white;
    background: green;
    padding: 1rem 2rem ;
    border-radius: 10px;
    margin-left: 2rem;
}
.fbtn{
    color: #000;
    background: red;
    padding: 1rem 2rem ;
    border-radius: 10px;
    margin-left: 2rem;
}